{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "lodash",
    "relay",
    "inline-react-svg",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}